a {
  font-size: 14px;
  color: #0093e5;
}

body {
  background-color: #F2F6FA;
}
header {
  background-color: #fff;
  height: 80px;
  line-height: 80px;

  .logoBox {

  }
  .counterBox {
    text-align: center;
  }
  .loginBox {
    text-align: right;

  }
}
main {
  margin-top: 100px;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset;
}