<div class="container-fluid" ui-view>
    <div class="row justify-content-center">
        <div class="col-md-4">
            <form id="inputForm" ng-controller="contentController" ng-submit="submit()">
                <div class="form-group">
                    <label for="num1">Numeric field</label>
                    <input type="number" class="form-control" id="num1" placeholder="Numeric field" ng-model="formData.num">
                </div>
                <div class="form-group">
                    <label for="text1">Text field</label>
                    <input type="text" class="form-control" id="text1" placeholder="Text field" ng-model="formData.text" required>
                </div>
                <div class="form-group">
                    <label for="select1">Select</label>
                    <select name="selectOption" id="select1" class="form-control" ng-model="formData.select">
                        <option value="1">Opcija 1</option>
                        <option value="2">Opcija 2</option>
                        <option value="3">Opcija 3</option>
                        <option value="4">Opcija 4</option>
                        <option value="5">Opcija 5</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="textarea1">Textarea</label>
                    <textarea name="msg" id="textarea1" rows="10" class="form-control" ng-model="formData.textarea" required></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
                <button type="button" class="btn btn-light" ng-click="clear()">Clear</button>
            </form>
        </div>
    </div>
</div>