<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-4" ng-controller="historyController">
            <div class="list-group" ng-repeat="x in records">
                <div class="list-group-item list-group-item-action flex-column align-items-start" ng-class="{'active': $first}">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1"><span>[{{x.num}}]</span> {{x.text}}</h5>
                        <small>{{ x.date | date : 'd.M.yyyy'}}</small>
                    </div>
                    <p class="mb-1">{{x.textarea}}</p>
                    <hr>
                    <p>Izbrana opcija: {{x.select}}</p>
                </div>
            </div>
        </div>
    </div>
</div>