<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <form ng-controller="loginController" ng-submit="submit()">
                <div class="form-group">
                    <label>Username</label>
                    <input type="text" class="form-control" ng-model="formData.user" required>
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" ng-model="formData.pass" required>
                </div>
                <div>{{msg}}</div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>