<!DOCTYPE html>
<html lang="en" ng-app="bens">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<header class=" navbar-dark flex-column flex-md-row bd-navbar" ng-controller="headerController">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="logoBox">
                    <a href="/"><img src="img/header-logo.png"></a>
                </div>
            </div>
            <div class="col">
                <div class="loginBox">
                    <a href="" ng-click="loginStatus()">{{loginText}}</a>
                </div>
            </div>
        </div>
    </div>
</header>
<main ui-view>

</main>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angular-ui-router/1.0.0-rc.1/angular-ui-router.min.js"></script>
<script src="js/controllers/routeController.js"></script>
</body>
</html>